<div class="body">
  <!-- BEM: Bloque 'card' con modificador 'card--type-1' -->
  <div class="card card--type-1">
    <!-- BEM: Elemento 'header' del bloque 'card' -->
    <div class="card__header">
      <!-- BEM: Elemento 'title' del bloque 'card' -->
      <h1 class="card__title">Titulo Album :</h1>
      <!-- BEM: Elemento 'loader' del bloque 'card' -->
      <app-circular-progress-indicator *ngIf="!datos?.title" class="card__loader"/>
      <!-- BEM: Elemento 'content' del bloque 'card' -->
      <h3 class="card__content">{{datos?.title}}</h3>
    </div>
    <!-- BEM: Elemento 'body' del bloque 'card' -->
    <div class="card__body">
      <!-- BEM: Elemento 'section' del bloque 'card' -->
      <div class="card__section">
        <!-- BEM: Elemento 'subtitle' del bloque 'card' -->
        <h2 class="card__subtitle">Album id :</h2>
        <!-- BEM: Elemento 'loader' del bloque 'card' -->
        <app-circular-progress-indicator *ngIf="!datos?.id" class="card__loader"/>
        <!-- BEM: Elemento 'content' del bloque 'card' -->
        <h3 class="card__content">{{datos?.id}}</h3>
      </div>
      <!-- BEM: Elemento 'section' del bloque 'card' -->
      <div class="card__section">
        <!-- BEM: Elemento 'subtitle' del bloque 'card' -->
        <h2 class="card__subtitle">Album userId :</h2>
        <!-- BEM: Elemento 'loader' del bloque 'card' -->
        <app-circular-progress-indicator *ngIf="!datos?.userId" class="card__loader"/>
        <!-- BEM: Elemento 'content' del bloque 'card' -->
        <h3 class="card__content">{{datos?.userId}}</h3>
      </div>
    </div>
  </div>
</div>
